h1, h2, h3 {
    text-align: center;
}

body {
    background-color: lightgray;
}

/* .fixed {
    position: fixed;
} */

.item {
    width: 100px;
    height: 100px;
    border: solid 1px darkgray;
}

.blue-square-container {
    text-align: center;
}

.blue-square {
    display: inline-block;
    background-color: blue;
}

.green-square {
    background-color:green;
    margin: 10px auto;
}

.square-container {
    margin-top: 150px;
}

.yellow-square {
    background-color:yellow;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.red-square {
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: 300px;
    border: solid 1px crimson;
}
.relative {
    position: relative;
}

.coral-square {
    background-color: coral;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrapper {
    height: 300px;

}



footer {
    margin-top: 300px;
}