p, a {
    font-size: 20px;
}

a {
    display: block;
}

.danger.example {
    font-size: 30px;
}

p#extreme {
    font-size: 24px;
}

.example {
    color: darkblue;
}

#example {
    color: green;
}

.danger {
    border: solid 1px red;
}

#extreme {
    color: red;
}