@import url(small.css);

p span {
    /* font-size: 24px; */
    color: violet;
}

.danger {
    color: red;
}

.info {
    color: green
}

span[custom='larger'] {
    font-size: larger;
    color: black;
}

button:hover{
    transform: scale(2)
}

button:active {
    background: skyblue;
}

button:disabled {
    background: darkgrey;
    transform: none;
}

tbody tr:nth-child(odd) {
    background-color: coral;
}
